<%- include('./partials/head', {title})%> <%- include('./partials/header')%> <%-
include('./partials/nav')%>
<main class="container--fixed">
  <%if (onlyAdminMsg) { %>
    <h2><%=onlyAdminMsg%></h2>
  <% } else { %>
    <h2 class="not-found">La pagina que buscas no existe</h2>
    <% } %>
</main>
<%- include('./partials/footer') %>
