<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container container-results--fixed">
	<main>
        <section class="interes">
			<div class="interes-text">
				<h3>Resultados de la búsqueda: "<%= productsQuery %>"</h3>
			</div>
			<% if (productsQuery.length > 0) { %>
            <ul class="listado">
				<% for (let product of queryProducts) { %>
				<a href="/products/<%=product.id%>" class="producto-link">
					<li class="producto producto--aligned">
						<img
							src="/images/products/<%= product.image %>"
							alt="<%= product.name %>"
							class="producto-img"
						/>
						<p class="producto-precio"> <%= product.price %></p>
						<% if (product.dispatch) { %>
						<p class="producto-envio">Envio gratis</p>
						<% } %>
						<p class="producto-nombre">
							<%= product.name %>
						</p>
						<button class="btn">Comprar</button>
					</li>
				</a>
				<% } %>
			</ul>
			<% } else { %>	
				<div>
					<p class="unsuccessful-query-text">No se encontraron resultados que coincidan con tu búsqueda.</p>
					<p>Inténtalo de nuevo con otras palabras clave</p>
				</div>
			<% }%>
		</section>
    </main>
</div>
<%- include('../partials/footer') %>