<%- include('../partials/head', {title})%>
<%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container--fixed">
	<main>
		<div class="cart">
			<div class="cart__body">
				<h2 class="cart__title">Tu carrito</h2>
				<% for (let product of products) { %>
				
				<article class="cart-item">
					<div class="cart-item__img-container">
						<img src="../images/products/<%=product.image%>" alt="<%=product.name%>">
					</div>
					<div class="cart-item__desc">
						<div class="cart-item__upper-desc">
							<p class="cart-item__name"><%= product.name%></p>
							<div>
								<p class="cart-item__color">Color : <%= product.color%></p> <a class="cart-item__color-picklist" href="">Modificar</a>
								<% if (product && (product.dispatch == true)) { %>
								<span class="cart-item__dispatch">Envío Gratis</span>
							<% } %>	
							</div>
						</div>
						<div class="cart-item__lower-desc">
							<div class="cart-item__quantity-and-trash">
								<select class="cart-item__quantity" name="price" id="">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
								<i class="fa-solid fa-trash-can"></i>
							</div>
							<p class="cart-item__total-price"> $<%=product.price * selectedQuantity%></p>
						</div>
					</div>
				</article>
				<% } %>
				<div class="cart-subtotal">
					<p class="cart-subtotal__text">Subtotal</p>
					<p class="cart-subtotal__total-amount">$390.000</p>
				</div>
			</div>
			<a href="/products" class="btn btn-product-edit btn-anchor">Seguir comprado</a>
			<br>
			<a href="/cart/dispatch" class="btn btn-product-edit btn-anchor">Continuar</a>
		</div>
	</main>
</div>
<%- include('../partials/footer') %>
