<%- include('../partials/head', {title: 'Profile'})%> <%-
include('../partials/header')%> <%- include('../partials/nav')%>
<div class="container--fixed">
    <main>
        <div class="login-container">
            <h3>Tu informacion</h3>

            <div class="img-profile">
                <img src="/images/users/<%= user.avatar %> " alt="" />
            </div>
            <div class="info-profile">
                <h3>Nombre:</h3>
                <p><%= user.first_name %></p>
                <h3>Apellido</h3>
                <p><%= user.last_name %></p>
                <h3>Email</h3>
                <p><%= user.email %></p>
                <div class="profile-options">
                    <button class="btn">
                        <a href="edit/<%=user.id %>">Editar Datos de Perfil</a>
                    </button>
                    <button class="btn">Cambiar Password</button>
                    <button class="btn"><a href="logout">Log Out</a></button>
                </div>
            </div>
        </div>
    </main>
</div>
<%- include('../partials/footer') %>
