<%- include('../partials/head', {title})%> <%- include('../partials/header')%>
<%- include('../partials/nav')%>
<div class="container--fixed">
  <main>
    <form
      action="/products"
      method="POST"
      enctype="multipart/form-data"
      class="product-create__form"
    >
      <h1>Formulario de Creación de Producto</h1>
      <div class="input-container">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="input-container">
        <label for="category">Categoria:</label>
            <select name="category" id="category">
              <option value=""></option>
              <% for (let i = 0; i < categories.length; i++) { %>
                <option value="<%=categories[i].id%>">
                  <%=categories[i].name%>
                </option>
              <% } %>
            </select>
      </div>
      <div class="input-container">
        <label for="brand">Marca:</label>
            <select name="brand" id="brand">
              <option value=""></option>
              <% for (let i = 0; i < brands.length; i++) { %>
                <option value="<%=brands[i].id%>">
                  <%=brands[i].name%>
                </option>
              <% } %>
            </select>
      </div>
      <div class="input-container">
        <label for="shortDesc">Descripción breve</label>
        <textarea name="shortDesc" cols="30" rows="3" id="shortDesc"></textarea>
      </div>
      <div class="input-container">
        <label for="longDesc">Descripción detallada</label>
        <textarea name="longDesc" cols="30" rows="10" id="longDesc"></textarea>
      </div>
      <div class="input-container">
        <label for="color">Color:</label>
            <select name="color" id="color">
              <option value=""></option>
              <% for (let i = 0; i < colors.length; i++) { %>
                <option value="<%=colors[i].id%>">
                  <%=colors[i].name%>
                </option>
              <% } %>
            </select>
      </div>
      <div class="input-container">
        <label for="price">Precio</label>
        <input type="text" name="price" id="price" />
      </div>
      <div class="input-container">
        <label for="image">Imágen</label>
        <input type="file" name="image" id="image" />
      </div>
      <div class="input-container">
        <p>Envío gratis:</p>
        <input type="radio" id="dispatchYes" name="dispatch" value="1">
        <label for="dispatchYes">Si</label><br>
        <input type="radio" id="dispatchNo" name="dispatch" value="0">
        <label for="dispatchNo">No</label><br>  
      </div>
      <div class="input-container">
        <label for="discount">Descuento </label>
        <input type="text" name="discount" id="discount" />
      </div>
      <div class="input-container">
        <label for="stock">Stock disponible </label>
        <input type="text" name="stock" id="stock" />
      </div>
      <div class="btn-product-create__container">
        <button class="btn btn-product-create">Crear Producto</button>
        <a href="/" class="btn btn-product-create btn-anchor"
          ><div>Volver</div></a
        >
      </div>
    </form>
  </main>
</div>
<%- include('../partials/footer') %>
